<form action="/twist/login" method="POST">
        <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    <div >
                    <h2 class="fw-bold mb-2 text-uppercase" id="login">Login</h2>
                    <p class="text-white-50 mb-5">Porfavor, Ingrese a su cuenta!</p>
                    
                    <div class="form-outline form-white mb-4">
                        <input type="text" name="usuario" class="form-control form-control-lg"  placeholder="Usuario" >
                    </div>

                    <div class="form-outline form-white mb-4">
                        <input  type="password" name="password" class="form-control form-control-lg"  placeholder="Contraseña"  />
                    </div>

                    <input class="btn btn-outline-light btn-lg px-5" type="submit">

                    <br>
                    </div>

                    <div>
                        <br>
                    <p class="mb-0">¿No te has registrado? <a href="formulario_login.php" class="text-white-50 fw-bold">Crear Cuenta</a>
                    </p>
                    </div>

                </div>
                </div>
            </div>
            </div>
        </div>
        </section>
    </form>