<div class="container" style="padding:10px;">
    <form action="/twist/logup" method="POST">

        <label for="primer-nombre">Nombres</label>
        <input type="text" name="nombres"  class="input-padron" placeholder="Juan" autofocus>

        <label for="primer-apellido">Apellidos</label>
        <input type="text" name="apellidos"  class="input-padron" placeholder="Perez">

        <label for="fecha-nac">Fecha de Nacimiento</label>
        <input type="date" name="fechaNac" id="fecha-nac" class="input-padron" placeholder="">

        <label for="telefono">Telefono</label>
        <input type="tel" name="telefono" id="telefono" class="input-padron" placeholder="XXX-XXX-XXXX">

        <label for="email">Correo electronico</label>
        <input type="email" name="correo" id="emial" class="input-padron" placeholder="juanperez@gmail.com">

        <label for="password">Usuario</label>
        <input type="text" name="usuario"  class="input-padron" placeholder="Usuario">
        
        <label for="password">Contraseña</label>
        <input type="password" name="password" class="input-padron" placeholder="Contraseña">

        <input type="submit" id="enviar" class="enviar">
    </form>
</div>