{{!-- <h1> Productos</h1> --}}
<!--1ra seccion Helados Artesanales -->

<ul class="productos">
    {{#each helados}}
    {{#if helados.idTipoProducto === 1 }}
    <h2 class="sub_titulos">Artesanales</h2>
    <li>
        <h2>{{NombreProducto}}</h2>
        <img src="/img/artesanal-postre-pina-colada.jpg" alt="postre piña colada">
        <div class="descripcion_general">
            <p class="descripcion">Un producto innovador
                e indulgente, con el fin de resaltar los sabores auntenticamente nuestros.</P>
            <p class="precio">$15.000 </p>
        </div>
        <a href="/twist/carrito/{{id}}">
            {{!-- <input type="button" value="Agregar al Carrito"> --}}
            <button>Agregar al carrito</button>
        </a>
    </li>

    {{/if}}
    {{#if}}

    <h2 class="sub_titulos">Paletas</h2>
    <ul class="productos">
        {{#each paletas}}
        <li>
            <h2>{{NombreProducto}}</h2>
            <img src="/img/paleta_fresa.jpg" alt="paleta fresa">
            <div class="descripcion_general">
                <p class="descripcion">Helado cremoso con grasa vegetal sabor a fresa,
                    con cobertura sabor a chocolate</P>
                <p class="precio">$15.000 </p>
            </div>
            <input type="button" value="Agregar al Carrito">
        </li>
    </ul>
    {{/if}}

    {{/each}}
</ul>

<!-- 2da Parte Paletas-->