<footer>
    {{!-- <div class="wave_footer"></div> --}}

    <p id="pie-pag"> &copy Derechos reservados - Pedro Toro - Luis Rosero - Daniella Toro - Julian Paz </p>
    <div class="footer-redes">
        <p>Siguenos en Nuestras redes Sociales:</p>
        <ul>
            <a href="https://instagram.com/hela.deriatwist?igshid=YmMyMTA2M2Y=">
                <img src="/img/instagram.png" alt="instagram">
            </a>
        </ul>
        <ul>
            <a href="https://www.facebook.com/profile.php?id=100090393554757">
                <img src="/img/facebook.png" alt="facebook">
            </a>
        </ul>
    </div>
</footer>