<footer>
    <div class="wave_footer"></div>

    <div class="footer-inf">
        <p id="pie-pag"> &copy Derechos recervados - Pedro Toro - Luis Rosero - Daniella Toro - Julian Paz </p>
        <div class="footer-redes">
            <p>Siguenos en Nuestras redes Sociales</p>
            <ul><a href="https://www.youtube.com/watch?v=1vNkt6TbvUw&ab_channel=RauwAlejandro"><img
                        src="/img/youtube.png" alt="youtube"></a></ul>
            <ul><a href=""><img src="/img/instagram.png" alt="instagram"></a></ul>
            <ul><a href=""><img src="/img/facebook.png" alt="facebook"></a></ul>
        </div>
    </div>
</footer>