<header>
    <div class="caja">
        <img id="img-logo" src="/img/logos-de-helados.jpg" alt="logo-helados">
        <nav>
            <ul>
                <li><a href="" id="select">Home</a></li>
                <li><a href="">Nuestros Productos </a></li>
                <li><a href="">Sobre Nosotros</a></li>
                <li><a href="">Contactenos</a></li>
                <li><a href="">Iniciar Sesion</a></li>
            </ul>
        </nav>
    </div>
    <div class="wave"><img class="wave_1" src="/img/wave_1.png"></div>

</header>