<header>
    <div class="caja">
        <img id="img-logo" src="/img/logos-helados.jpg" alt="logo-helados">
        <nav>
            <ul>
                <li><a href="/twist" id="select">Home</a></li>
                <li><a href="/twist/productos">Nuestros Productos </a></li>
                <li><a href="/twist/contactos">Contactenos</a></li>
                <li><a href="/twist/login">Iniciar Sesion</a></li>
            </ul>
        </nav>
    </div>

    <div class="wave"></div>

</header>
{{!-- 
<header>
    <div class="caja">
        <img id="img-logo" src="/img/logos-de-helados.jpg" alt="logo-helados">
        <nav>
            <ul>
                <li><a href="/twist" id="select">Home</a></li>
                <li><a href="/twist/productos">Nuestros Productos </a></li>
                <li><a href="/twist/contactos">Contactenos</a></li>
                <li><a href="/twist/login">Iniciar Sesion</a></li>
                <li><a href="/twist/">Cerrar Sesion</a></li>
                <li><a href="/twist/">Carrito</a></li>
            </ul>
        </nav>
    </div>
    <div class="wave"><img class="wave_1" src="/img/wave_1.png"></div>

</header> --}}